@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(nature.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container {
  padding: 30px 60px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .logo {
  background-color: #fff;
  padding: 10px 22px;
}

.container .logo a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  width: 100%;
}

.container .nav .items {
  display: flex;
}

.container .nav .items li {
  padding: 10px 0 0 40px;
}

.container .nav .items li a {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  color: #eaeaea;
  font-size: 1rem;
  opacity: 1;
}

.container .nav .items li a:hover {
  color: #ff8b32;
}

.heading {
  position: absolute;
  top: 55%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  width: 100%;
}

.heading p {
  color: #b8b8b8;
  letter-spacing: 0.1rem;
  padding-bottom: 5px;
}

.heading h2 {
  color: #fff;
  font-size: 4rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

.heading h2 span {
  font-weight: 200;
}

.heading h6 {
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #fff;
  width: 13%;
  padding: 7px 20px;
  cursor: pointer;
}

.heading h6:hover {
  background: #ff8b32;
  color: #eaeaea;
}

.icon {
  float: right;
  margin-right: 60px;
  width: 3%;
  position: relative;
  margin-top: -30px;
  opacity: 0;
}

.icon img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 20px 30px 0 30px;
  }

  .container .logo {
    padding: 6px 13px;
  }

  .container .logo a {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .container .nav .items li a {
    opacity: 0;
  }

  .heading p {
    letter-spacing: 1px;
    font-size: 12px;
  }

  .heading h2 {
    font-size: 2.5rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.5rem;
  }

  .heading h6 {
    font-size: 10px;
    letter-spacing: 0.5px;
    width: 25%;
  }

  .icon {
    margin-right: 30px;
    width: 4%;
    margin-top: -30px;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .heading h2 {
    font-size: 2rem;
  }
}
